option_settings:
  aws:elbv2:listener:default:
    ListenerEnabled: 'true'
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:ap-northeast-1:887028440782:certificate/37c17f27-c723-4dde-9a92-00a6f1ff4b99
  aws:elasticbeanstalk:environment:process:https:
    Port: '80'
    Protocol: HTTP
