a {
    text-decoration: none;
    color: #ffffff;
}

header {
    width: 100%;
    min-width: 1080px;
    color: #ffffff;
    background-color: #262626;
    letter-spacing: 1px;
    padding: 25px 0;
}

.header-container,
.header-nav-list,
.header-wrap-first {
    display: flex;
    align-items: center;
}

.header-container {
    width: 90%;
    margin: 0 auto;
}

#header-text-quel {
    color: #ffb100;
    padding-right: 3px;
}
.header-title {
    font-size: 16px;
    font-weight: bold;
}
.header-nav-list {
    margin-left: 140px;
}
.header-nav-list li {
    padding-right: 60px;
    letter-spacing: 1px;
    list-style: none;
}

.auth-toggle-btn a {
    display: block;
    width: 100%;
    border: solid 1px #ffffff;
    border-radius: 3px;
    padding: 3px 8px;
    text-align: center;
}
