a {
    text-decoration: none;
    color: #ffffff;
}

header {
    width: 100%;
    min-width: 1080px;
    color: #ffffff;
    background-color:#262626;
    letter-spacing: 1px;
}

.header-container,.header-nav-list,.header-wrap-first{
    display: flex;
    align-items: center;
}

.header-container {
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

#header-text-quel{
    color: #FFB100;
    padding-right: 3px;
}
.header-title {
    font-size: 16px;
    font-weight: bold;
}
.header-nav-list li {
    padding-right: 32px;
    letter-spacing: 1px;
    list-style: none;
}

.login-btn{
    border: solid 1px #FFFFFF;
    border-radius: 3px;
    padding: 3px 12px;
}
