.movie-info-wrap {
    width: 65%;
    margin: 100px auto 0;
}
/* messageはエラー文 */
.message {
    color: tomato;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
}

.scheduel-text {
    font-weight: bold;
    margin-bottom: 20px;
}

.movie-info-menu {
    width: 1008px;
    margin: 0 auto 200px;
    padding-top: 25px;
    z-index: 10;
}

.movie-info-menu ul {
    display: flex;
    margin: 0 auto;

    margin-bottom: 30px;
}

.movie-info-menu li {
    color: #ffffff;
    text-align: center;
    width: 144px;
    height: 78px;
    padding-top: 12px;
    position: relative;
}

.movie-info-menu span {
    position: absolute;
    top: 6px;
    right: 0;
    height: 78px;
    border-right: solid 1px #ebebeb;
}

.info-menu {
    background-color: #7b7b7b;
}

.info-menu-sub {
    margin-top: 10px;
    font-size: 10px;
}

.info-menu-active {
    background-color: #efa600;
}

/* =============== 以下、映画別予約購入部分 =============== */

#scheduled-date {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.movie-list {
    background-color: #d5d5d5;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.not-movie-list {
    background-color: #d5d5d5;
    padding: 30px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.movie-list-head {
    display: flex;
    align-items: baseline;
    color: #ebebeb;
    background-color: #7b7b7b;
    padding: 14px 0;
    margin-bottom: 15px;
}

.movie-title {
    margin-left: 16px;
}

.movie-title,
.movie-screening-time {
    margin-right: 16px;
}

.movie-scheduled-to-end {
    font-size: 14px;
    color: #d1d1d1;
}

.movie-list-main {
    width: 90%;
    display: flex;
    margin-left: 20px;
    align-items: center;
    background-color: #d5d5d5;
}

.movie-img img {
    height: 100px;
    width: 90px;
}

.movie-schedule-for-the-day {
    background-color: #ffffff;
    padding: 20px 20px 10px;
    margin-left: 20px;
}

.not-movie-schedule-for-the-day {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    width: 100%;
    padding: 38px 0;
}

.movie-time {
    margin-bottom: 20px;
}

.buy-button {
    background-color: #d5d5d5;
}

.buy-button a {
    padding: 10px 0px;
    width: 100%;
    display: block;
    text-align: center;
    color: #111111;
}

.invalid-buy-button {
    padding: 10px 0px;
    width: 100%;
    display: block;
    text-align: center;
    color: #000000;
    background-color: #f1ff34;
}

/* ================ pricelist ここから ================ */

/* ========== ヘッダー、フッターはmovie_infoのみ[position: fixed]している ==========
他のページもおかしくなるようであれば消す。 */
header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}

footer {
    bottom: 0px;
    right: 0px;
    z-index: 100;
}
/* ========== ヘッダー、フッター ========== */
.list-wrap {
    padding-top: 130px;
    margin-left: 400px;
    margin-bottom: 200px;
}

.list-wrap table {
    width: 450px;
}
.list-wrap .list-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: dotted 2px #adadad;
}

.list-wrap .list-flex td {
    font-weight: bold;
}

.list-wrap .title {
    font-size: 20px;
    font-weight: bold;
    border-left: solid 8px #adadad;
    padding: 8px 10px;
    margin-bottom: 30px;
}

.list-wrap .price-list {
    margin-bottom: 100px;
}

/* マイページ */

.heading {
    text-align: center;
    color: #707070;
    font-size: 25px;
    letter-spacing: 0.89px;
    line-height: 34px;
    margin: 50px 0 36px 0;
}

.mypage-wrapper {
    margin: 154px auto 304px;
    text-align: center;
}

.mypage-container {
    display: inline-block;
    width: 736px;
    height: 389px;
    text-align: center;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
}

.my-content {
    display: flex;
    width: 380px;
    height: 36px;
    margin: 0 auto 28px;
    justify-content: space-between;
}

.my-point {
    margin-top: 110px;
}

.my-content-title {
    display: inline;
    margin-right: 110px;
    padding-top: 12px;
}

.mypage-button-wrapper {
    height: 32px;
    background: #f5ae0b 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 2px #00000014;
}

.mypage-button {
    display: block;
    height: 24px;
    background: #f5ae0b 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 2px #00000014;
    padding-top: 8px;
}

.booking-button {
    width: 64px;
}

.credit-button {
    width: 118px;
}

.credit-button-add {
    width: 118px;
    margin-top: 10px;
}

.my-card-number {
    margin-right: 10px;
    padding-top: 12px;
}

.my-point-count {
    padding-top: 12px;
}

.user-delete-link {
    margin-top: 27px;
}

.user-delete {
    text-decoration: underline;
    letter-spacing: 0.5px;
    color: #707070;
}
