.movie-info-wrap{
    width: 65%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.movie-info-menu ul{
    display: flex;
    margin: 0 auto;
    width: 100%;
}

.movie-info-menu li{
    color: #FFFFFF;
    text-align: center;
    width: 144px;
    padding: 12px 0 48px;
    position: relative;
}

.movie-info-menu span{
    position: absolute;
    top: 4px;
    right: 0;
    height: 68px;
    border-right: solid 1px #EBEBEB;
}

.info-menu{
    background-color: #7B7B7B;
}

.info-menu-active{
    background-color: #EFA600;
}
